[Desktop Entry]
Type=Application
Exec=sh -c "rm -r ~/.config/lxpanel/Eosslim/panels/*; cp /etc/skel/.config/lxpanel/Eosslim/panels/* ~/.config/lxpanel/Eosslim/panels/; lxpanelctl restart"
Icon=/usr/share/icons/EducaAndOSIcons/apps/scalable/accessories-media-converter.svg
Terminal=true
Name[es_ES]=Restaurar paneles del usuario actual
Comment[es_ES]=Restaurar paneles del usuario actual
Categories=System;Settings;
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Delay=1
NoDisplay=false
Hidden=false
